{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
